<h2>Specs</h2>

<div class="table-responsive-vertical shadow-z-1">
  <table class="table table-hover table-mc-light-blue">
    <thead>
      <tr>
      <th class="text-center">Attribute</th>
      <th class="text-center">Value</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      {% for c in site.data.specs %}
      <tr>
        <td class="text-center">{{ c.attribute }}</td>
        <td class="text-center">{{ c.value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>